---
import Hero from "@/components/Hero.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import { pageSections } from "@/utils/Data.astro";
import { changeLanguage, t } from "i18next";

changeLanguage("en")
---

<Layout>
  <main class="px-6 md:px-4 ">
    <SectionContainer class="pb-24 pt-6 md:py-36" id="home">
      <Hero />
    </SectionContainer>
    <div class="space-y-24">
      {pageSections.map(({ id, title, icon: Icon, component: Component, props = {} }) => (        
        <SectionContainer id={id}>
          <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
            <Icon class="size-8" />
            {t(title)}
          </h2>
          <Component {...props}/>
        </SectionContainer>
        ))}
    </div>
  </main>
</Layout>