---
import { aboutMeSections, profileImage } from "@/utils/Data.astro";
import { t } from "i18next";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-teal-500 dark:[&>p>strong]:text-teal-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    {aboutMeSections.map((raw) => <slot set:html={t(raw)} />)}
  </div>
  <img
    width="200"
    height="200"
    src={profileImage}
    alt={t('meta.name')}
    decoding="async"
    loading="lazy"
    class="object-center order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-3xl bg-black/20 dark:bg-teal-500/5 ring-1 ring-black/70 dark:ring-white/20"
  />
</article>
