---
import { navItems } from "@/utils/Data.astro"
import ThemeToggle from "./ThemeToggle.astro"
import { t } from "i18next"
import { LanguageSelector } from "astro-i18next/components"
---

<header class="flex fixed top-0 z-10 items-center justify-end md:justify-center w-full mx-auto mt-2">
  <nav class="flex md:flex-row flex-col px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-50 justify-center md:items-center items-end"  >
    {navItems.map((link) => (
        <a
          class="hidden md:block relative px-2 py-2 transition hover:text-teal-400 dark:hover:text-teal-400"
          aria-label={link.label}
          href={t(link.url) || link.url}
        >
          {t(link.title)}
        </a>
    ))}
    <ThemeToggle />
    <LanguageSelector showFlag class="cursor-pointer ml-4 md:mt-0 mt-4 p-2 md:p-0 rounded-md bg-[#353536]/70 md:bg-transparent outline-none border-r-[0.6rem] border-transparent"/>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("dark:text-teal-300", "text-teal-400")
            } else {
              item.classList.remove("dark:text-teal-300", "text-teal-400")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<style>
  nav {
    @media (width >= 768px) {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
    }
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:md:bg-gray-800/90 bg-white/50 ring-white/10;
    }
  }
</style>
