---
import type { Link } from "@/types/types"

type Props = Link

const { href } = Astro.props
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-gray-800 dark:text-white transition bg-gray-100 border-gray-300 dark:bg-[#2E2E2E] border dark:border-zinc-500 focus-visible:ring-teal-500/80 text-md hover:bg-[#383838] hover:border-zinc-300 dark:hover:bg-[#383838] dark:hover:border-zinc-300 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>
