<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-[#2E2E2E] dark:border-zinc-500 dark:text-white focus-visible:ring-teal-500/80 text-md dark:hover:bg-[#383838] dark:hover:border-zinc-300 hover:bg-[#383838] hover:border-zinc-300 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>
